
.footer-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.footerItem {
  flex: 1;
}

.box {
  width: 25%;
  height: 2.5px;
  border-radius: 6px;
  margin: 5px 0 20px 0;
  background-color: var(--heading-color);
}
.footer-about p {
  margin: 0 0 40px 0;
  line-height: 1.6;
}
.footer-about .icons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.icons i {
  font-size: 20px;
  color: #141414;
  cursor: pointer;
}
.icons i:first-child:hover {
  color: rgb(24, 119, 242);
}
.icons i:nth-child(2):hover {
  color: rgb(254, 218, 117);
}
.icons i:nth-child(3):hover {
  color: rgb(0, 175, 240);
}
.icons i:nth-child(4):hover {
  color: rgb(18, 140, 126);
}
.footer-touch .information {
  gap: 20px;
  padding-bottom: 18px;
  display: flex;
  justify-content: start;
}
.information p {
  font-weight: 500;
}
.footer-links ul li {
  list-style: none;
  margin-top: 7px;
}
.footer-links ul li a {
  text-decoration: none;
  color: var(--bs-text);
}
